/* Arquivo: src/pages/CustomerDetailPage.module.css */
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .mainGrid {
    grid-template-columns: 2fr 1fr; /* Duas colunas em telas maiores */
  }
}

.profileSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.profileCard {
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--border-color);
}

.addressCard {
  grid-column: 1 / -1;
}

.icon {
  font-size: 1.5rem;
  color: var(--accent-primary);
  flex-shrink: 0;
}

.profileCard h3 {
  margin: 0;
  font-size: 1.25rem;
}

.profileCard p {
  margin: 0;
  font-size: 1rem;
  color: var(--text-secondary);
}

/* Estilos para a nova seção de associações */
.associationsSection {
  display: flex;
}

.associationCard {
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  width: 100%;
}

.associationCard h4 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
}

.associationGroup {
  margin-bottom: 1rem;
}

.associationGroup p {
  margin: 0 0 0.5rem 0;
  color: var(--text-secondary);
  font-size: 0.9rem;
}

.associationGroup ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.associationGroup li {
  margin-bottom: 0.5rem;
}

.associationGroup a {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.associationGroup a:hover {
  color: var(--accent-primary);
  text-decoration: underline;
}

.subAssociation {
  border-left: 2px solid var(--border-color);
  padding-left: 1rem;
  margin-top: 0.75rem;
  margin-left: 0.5rem;
}

.subAssociation p {
  font-size: 0.8rem;
  font-style: italic;
}

.noAssociation {
  color: var(--text-secondary);
  font-style: italic;
}


.objectsSection h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.tableContainer {
  overflow-x: auto;
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
  vertical-align: middle;
}

.table th {
  color: var(--text-secondary);
  font-size: 0.875rem;
  text-transform: uppercase;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: var(--text-secondary);
  font-size: 1.2rem;
}
